/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #63c0ee, #001554);
  color: #ffffff;
  padding: 20px;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  margin-bottom: 30px;
}

#navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: 0.3s;
}

#navbar a:hover {
  color: #fff;
  letter-spacing: 1px;
}

/* HEADINGS */
h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-size-adjust: 25px;
  margin-bottom: 10px;
}

#subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 40px;
}

/* LETTER TITLE */
#letter {
  text-align: center;
  margin-bottom: 20px;
}

/* PLAYER */
.player {
  text-align: center;
  margin: 40px auto;
}

.cover {
  width: 180px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.player h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.player p {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 10px;
}

/* LETTER CONTENT */
.letter {
  max-width: 700px;
  margin: 30px auto;
  line-height: 1.8;
  font-size: 15px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
}

#memories {
    font-size: 23px;
}
/* MEMORIES SUBTEXT */
.memosub {
  text-align: center;
  color: #00406e;
  margin-bottom: 30px;
}

#music {
    font-size: 10px;
}
#musicsub {
    font-size: 8px;
    color: #00406e;

}

/* MEMORY GROUP */
.memory-group {
  margin: 50px 0;
}

.memory-group h2 {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
}

/* GALLERY */
.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* CARD */
.card {
  width: 180px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  padding: 8px;
  transition: 0.3s;
  cursor: pointer;
}

/* IMAGE */
.card img {
  width: 100%;
  border-radius: 8px;
  transition: 0.4s;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-5px);
}

.card:hover img {
  transform: scale(1.1);
}

/* DEFAULT SIZE (ALL IMAGES) */
.card {
  width: 180px;
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
}

/* IMAGE FIT FIX */
.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* 📸 September */
.p-sep {
  width: 160px;   /* smaller */
  height: 500px;
}

/* 📸 October */
.p-oct {
  width: 350px;   /* bigger */
  height: 500px;
}

/* 📸 November */
.p-nov {
  width: 160x;   /* smallest */
  height: 500px;
}

.p-dec {
  width: 160px;   /* smaller */
  height: 500px;
}

.p-jan {
  width: 350px;   /* bigger */
  height: 500px;
}

.p-feb {
  width: 160px;   /* smaller */
  height: 500px;
}

.p-mar {
  width: 160px;   /* smaller */
  height: 500px;
}

.p-idk {
  width: 160px;   /* smaller */
  height: 500px;
}

.p-feb2 {
    width: 350px;   /* bigger */
    height: 500px;
}